@import '@styles/base/typography';
@import '@styles/base/helpers';

.recommendation {
  margin-bottom: 40px;
}

.container {
  @extend %main-container;
}

.title {
  margin-bottom: 24px;

  @extend %medium-title;
}

.recommendationList {
  display: flex;
  flex-direction: column;
  gap: $main-card-list-gap;
  margin-bottom: 24px;

  list-style-type: none;
}

.recommendationBtnContainer {
  position: relative;
  display: flex;
  align-items: center;
  gap: 14px;

  &::before,
  &::after {
    content: '';
    width: 100%;
    height: 1px;

    background-color: $border;
  }

  &::before {
    left: 0;
  }

  &::after {
    right: 0;
  }
}

.recommendationBtn {
  flex-shrink: 0;
  gap: 11px;
  padding-right: 12px;
}

.stripeContainer {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  margin-bottom: $section-gap;
  padding: $card-padding;

  background-color: $stripe-bg;

  overflow-x: hidden;
}

.frontEndTitle {
  margin-right: $card-padding;
}

.listContainer {
  width: 100%;
}

.frontEndList {
  display: flex;
  gap: $main-card-list-gap;

  list-style-type: none;
}

.sliderBtnContainer {
  display: flex;
  gap: $main-text-gap;
  margin-left: auto;
}

.sliderBtn {
  padding: 4px;

  border-radius: 100%;
}

.catalogTitle {
  margin-bottom: $control-ghost-padding;
}

.allTopicsList {
  display: flex;
  flex-wrap: wrap;
  gap: $main-card-list-gap;

  list-style-type: none;
}

.catalogBtnContainer {
  display: inline-flex;
  margin-bottom: $main-card-list-gap;

  border: 1px solid $control-default-border;
  border-radius: $control-border-radius;
}

%catalog-buttons {
  background-color: $control-ghost-bg;

  &::before {
    opacity: 0;
  }

  & + .catalogBtn {
    &::before {
      opacity: 0;
    }
  }
}

.catalogBtn {
  position: relative;
  padding: 9.5px 20px;

  line-height: $topic-nav-line-height;

  border-radius: $control-border-radius;

  &:not(:first-child) {
    &::before {
      position: absolute;
      left: 0;
      content: '';
      width: 1px;
      height: 66%;

      background-color: $control-default-border;

      transition: $transition;
    }
  }

  &:hover {
    @extend %catalog-buttons;
  }
}

.activeCatalogBtn {
  @extend %catalog-buttons;
}
