@import '@styles/abstract/variables';

.loader {
  position: relative;
  width: 110px;
  height: 110px;
  margin: 0 auto;

  &::before,
  &::after {
    content: '';
    position: absolute;

    border-radius: 100%;

    inset: 0;
    box-shadow: 0 0 12px 2px $loader-box-shadow inset;
  }

  &::after {
    box-shadow: 0 4px 0 $loader inset;
    animation: rotate 2s linear infinite;
  }
}

@keyframes rotate {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}
