.avatar {
  flex-shrink: 0;
  width: 32px;
  height: 32px;

  background-image: url('../../../assets/img/avatar.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 100%;
}
