/* Fonts */
$main-font: 'Segoe UI';
$main-font-family: $main-font, Arial, sans-serif;

/* Fonts size */
$medium-font: 1.6rem;
$small-font: 1.4rem;
$large-title: 3.2rem;
$medium-title: 2.4rem;
$logo-font-size: 1.8rem;

/* Font weight */
$regular: 400;
$bold: 700;

/* Line height */
$medium-line-height: 1.5;
$page-nav-line-height: 1.2;
$logo-line-height: 1.33;
$card-btn-line-height: 2.5;
$btn-line-height: 2.3;
$topic-nav-line-height: 1.33;

/* Colors */
$primary-text: #002033;
$secondary-text: rgba(0, 32, 51, 0.6);

$control-primary-text: #ffffff;
$control-secondary-text: #0078d2;
$control-ghost-text: rgba(0, 57, 92, 0.8);
$control-clear-icon: rgba(0, 57, 92, 0.8);

$control-primary-bg: #0078d2;
$control-ghost-bg: rgba(0, 66, 105, 0.07);

$control-secondary-border: #0078d2;
$control-default-border: rgba(0, 66, 105, 0.28);

$default-bg: #ffffff;
$secondary-bg: #ecf1f4;
$stripe-bg: rgba(0, 32, 51, 0.05);
$success-bg: #24c38e;
$ghost-bg: rgba(0, 32, 51, 0.08);

$border: rgba(0, 65, 102, 0.2);

$link-border: #0078d2;

/* Box shadow */
$box-shadow: 0px 2px 2px rgba(0, 32, 51, 0.02), 0px 2px 8px rgba(0, 32, 51, 0.16);

/* Border radius */
$main-border-radius: 8px;
$control-border-radius: 4px;

/* Gap */
$card-text-gap: 8px;

/* Padding */
$header-padding: 10px 24px;
$card-padding: 32px;
$control-padding: 20px;
$control-ghost-padding: 16px;

/* Width */
$card-width: 464px;
$content-width: 1440px;

/* Breakpoints */
$large-desktop: 1920px;

/* Transition */
$transition: 0.4s;
