@import '@styles/abstract/variables';

.btn {
  line-height: $card-btn-line-height;
  color: $control-primary-text;

  background-color: transparent;
  border: none;
  border-radius: $control-border-radius;

  transition: $transition;
  cursor: pointer;
}

.icon {
  font-size: 0;
  line-height: 0;

  border-radius: 0;
}
