@import '@styles/abstract/variables';
@import '@styles/base/typography';

.logo {
  @extend %logo;

  transition: $transition;

  &:hover {
    opacity: 0.8;
  }
}

.link {
  color: $primary-text;
  text-decoration: none;
}
