@font-face {
  font-family: $main-font;
  src: local('Segoe UI'), local('SegoeUI'), url('@assets/fonts/SegoeUI.woff2') format('woff2'),
    url('@assets/fonts/SegoeUI.woff') format('woff'), url('@assets/fonts/SegoeUI.svg') format('svg');
  font-weight: normal;
}

@font-face {
  font-family: $main-font;
  src: local('Segoe UI Bold'), local('SegoeUI-Bold'),
    url('@assets/fonts/SegoeUIBold.woff2') format('woff2'),
    url('@assets/fonts/SegoeUIBold.woff') format('woff'),
    url('@assets/fonts/SegoeUIBold.svg') format('svg');
  font-weight: bold;
}
